body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App-header {
  padding-bottom: 70px !important;
}

.circleButton {
  border: none;
  border-radius: 50%;
  font-size: 36px;
  height: 150px;
  transition: 0.1s;
  width: 150px;
}
.circleButton:focus {
  outline: none;
}
.circleButton:active {
  transform: scale(.98) !important;
}
.circleButton:hover {
  transform: scale(1.02);
}

.countDown {
  font-size: 36px;
  margin: none;
  padding: none;
}

.game {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.gameContainer {
  background-color: #222222;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  min-height: 250px;
  min-width: 250px;
}

.gameOverDisplay {
  background-color: #ff5050;
}

.gameReadyDisplay {
  background-color: #00ddff;
}

input {
  border: none;
  border-radius: 50%;
  color: #222222;
  font-size: 48px;
  height: 150px;
  text-align: center;
  width: 150px;
}
input:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sequenceDisplay {
  /* background-color: #222222;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  min-height: 250px;
  min-width: 250px; */
}
